ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
  text-shadow: 0 0 10px currentColor;
}

.nav__list li:nth-child(1) a:hover {
  color: #e57373;
}

.nav__list li:nth-child(2) a:hover {
  color: #81c784;
}

.nav__list li:nth-child(3) a:hover {
  color: #64b5f6;
}

.nav__list li:nth-child(4) a:hover {
  color: #ffb74d;
}

.nav__list li:nth-child(5) a:hover {
  color: #ba68c8;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
}

.header__title {
  color: #a8d0e6;
  font-size: calc(100% + 1.5vw);
  letter-spacing: 1.2px;
  font-weight: 500;
}

.nav--open {
  transform: translate(0) !important;
}

.nav {
  position: fixed;
  top: 63px;
  left: 0;
  width: 100%;
  padding: 25px 0;
  background: rgba(28, 26, 26, 0.7);
  backdrop-filter: blur(10px);
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: calc(100% + 0.25vw);
}

.nav__link {
  color: #fff;
}

.hamburger {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  opacity: 0.9;
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .nav {
    top: 0px;
    background-color: transparent;
    transform: translatey(-100%);
    backdrop-filter: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-end;
    margin-right: 18%;
  }

  .nav__list--tablet {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .nav__list {
    margin-right: 15%;
  }
}
